// Colores principales
$color-primary: #800020;
$color-primary-light: lighten($color-primary, 20%);

// Espaciados
$spacing-s: 0.5rem;
$spacing-m: 1rem;
$spacing-l: 2rem;

// Tipografía
$font-main: "Arial", sans-serif;
